@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: "EB Garamond", serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    color: rgb(110, 110, 110);
    cursor: pointer;
}

.brand {
    font-size: 24px;
}

.brand a:hover {
    color: plum
}

.fa-bars {
    cursor: pointer;
}

.hide {
    display: none;
}

.nav_links {
    width: 100%;
    margin-top: 3rem;
}

.nav_links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.nav-link {
    font-size: 20px;
}

.nav-link:hover {
    color: plum;
}

@media (min-width: 540px) {
    .fa-bars {
        display: none !important;
    }

    .nav_links {
        display: block !important;
        margin-top: 0;
        width: fit-content;
    }

    .nav_links ul {
        flex-direction: row;
    }
}

main {
    min-height: 85vh;
}

#about {
    padding: 1rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile img {
    max-width: 50%;
    border-radius: 50%;
}

#about h1 {
    text-align: center;
    margin: 1rem 0;
    font-size: 30px;
    color:purple;
}

.info {
    margin-top: 2rem;
    padding: 0 4rem;
}

.info p {
    margin-bottom: 1rem;
    font-size: 18px;
}

.info .school {
    color: #52adc8;
}

.info a {
    text-decoration: none;
    color: #af7aff;
}

.info a:hover {
    color: purple;
}

.info .school:hover {
    color: blue
}

.contact-mssg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: purple;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.contact-links:hover > a {
    opacity: 0.5;
}

.contact-links a {
    font-size: 28px;
    color: purple;
}

.contact-links a:hover {
    opacity: 1;
    font-weight: 900;
    font-size: 30px;
}

.personal-info h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1.5rem 0;
    font-size: 30px;
    color:purple;
}

#personal_interests {
    padding: 0 4rem;
    margin-bottom: 1.5rem;
}

.personal_i {
    font-size: 28px;
    color: purple;
    letter-spacing: 3px;
}

.interests {
    padding-left: 2.5rem;
    font-size: 18px;
}

.interests p {
    margin-top: 1.5rem;
}

.interests a {
    text-decoration: none;
    color: purple;
}

.interests a:hover {
    color: #af7aff;
}

@media (min-width: 768px) {
    .profile img {
        max-width: 300px;
    }
}

@media (min-width: 1024px) {
    .about_main {
        
    }

    #about {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 4rem;
        justify-content: center;
        align-items: center;
        /* min-height: 80vh; */
    }
    #about h1 {
        width: 100%;
    }
    .profile, .info {
        width: 50%;
        max-width: 600px;
    }
    .info {
        margin-top: 0;
        
    }
}

.introduction {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
.typing {
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(24) 1;
}

@keyframes typing {
    from {
        width: 0;
    } 
    to {
        width: 340px;
    }
}

.introduction h1 {
    margin-bottom: 0.5rem;
    color: #af7aff;
}

.introduction h2 {
    font-size: 30px;
    margin-bottom: 1rem;
    color: purple;
    text-align: center;
}

.introduction_details {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    transition: all 1s ease;
}

.introduction_details > div {
    width: 95%;
    padding: 0;
}

.info p {
    font-size: 18px;
}

.featured_project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    color: #c5afe5;
    font-size: 15px;
}
.cta {
    border: 1px solid plum;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: #c5afe5;
    transition: all 1s ease;
    margin-top: 0.5rem;
}

.cta:hover {
    border-color: purple;
    color: purple;
    background-color: #c5afe5;
}

@media (min-width: 768px) {
    .introduction_details {
        flex-direction: row;
        justify-content: center;
    }
    .introduction_details > div {
        width: 50%;
    }
}

hr {
    margin: .5rem 0;
    width: 100%;
    border-color: #af7aff;
}

.project {
    margin: 1rem 0;

}

.project_header {
    padding: 1rem;
    margin: 1rem;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
}

.project_header h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 1rem;
    color: purple;
}

.project_header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.description {
    max-width: 700px;
    margin: auto;
}

.description h4 {
    margin-bottom: 1rem;
}

.description p {
    margin-bottom: 1rem;
}

.description p b {
    display: inline-block;
    /* width: 135px; */
}

.process {
    padding: 1rem;
    margin-top: 1rem;
}

.process h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 25px;
}

.process-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.process-item h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgb(192, 55, 192);
    font-size: 22px;
}

.understanding-users h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgb(192, 55, 192);
    font-size: 22px;
}

.understanding-users p {
    max-width: 700px;
    margin: auto;
    align-items: center;
    margin-bottom: 1.5rem;
}

.interview_info {
    padding-left: 2.5rem;
}

.understanding-users a {
    text-decoration: none;
    color: #af7aff;
}

.understanding-users a:hover {
    color: purple;
}

.image {
    width: 100%;
}

.image img {
    width: 100%;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.content a {
    text-decoration: none;
    color: #af7aff;
}

.content a:hover {
    color: purple;
}

.yellow {
    color: #FFFF99;
}

.blue {
    color: #4e7ec1;
}

.red {
    color: #fca6a1;
}

.purpose {
    background-color: yellow;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px goldenrod;
}

.final .purpose {
    background-color: white;
    box-shadow: none;
}

@media (min-width: 768px) {
    .project_header img {
        max-width: 700px;
        display: block;
        margin: auto;
        margin-bottom: 1rem;
    }


    .process-item {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .process-item.final {
        justify-content: center;
    }

    .process-item h3 {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .image, .content {
        width: 50%;
    }

    .image {
        display: flex;
        justify-content: flex-end;
    }

    .image img{
        max-width: 500px;
    }

    .content {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 0.5;
    }
}

.pdf-container {
    width: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.pdf-container embed {
    height: auto;
}

#back-to-top {
    position: fixed;
    bottom: 100px;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #c5afe5;
}

#back-to-top.hidden {
    opacity: 0;
    pointer-events: none;
}

.purpose.final {

}

.purpose p {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.slogan {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #af7aff;
    margin-bottom: 0.5rem;
    font-size: 22px;
}

.purpose a {
    text-decoration: none;
    color: #af7aff;
    display: contents;
}

.purpose a:hover {
    color: purple;
}

.video {
    width: 100%;
    margin-top: 2rem;
}

.video video {
    width: 100%;
}

footer {
    margin-top: 2rem;
    padding: 20px;
    background-color: #c5afe5;
}

footer .contact-mssg {
    margin-bottom: 0.5rem;
}

footer .contact-links {
    margin: 0;
}

footer p {
    margin-top: 0.5rem;
    text-align: center;
    color: purple;
    margin-bottom: 0.5rem;
}